<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <script src="static/js/app.js" defer></script>
    <script src="static/js/menu.js" defer></script>
    
    <title>PrinterSCOUT</title>
    
</head>
<body>
    <h1 class="header">🖨️ PrinterSCOUT<button style="float: right;" class="total_xlsx" onclick="window.location.href='/printer_pages.xlsx'">Teljes táblázat letöltése</button></h1>
    
    {% include '_menu.html' %}
    
    
    <div id="toast-container"></div>
    {% include 'modal.html' %}
    <div class="progress">
        <div id="bar" class="bar"></div>
    </div>
    <div id="tables"></div>  
</body>
</html>